@font-face{
    font-family: 'Craie';
    src: url('assets/AngryChalk.ttf');
}

*{
    font-family: 'Craie';
    font-size: 30Px;
}
body{

    background: linear-gradient(#add8e6,rgb(118, 148, 130));
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.container {
    /* background-color: rgba(55, 96, 140, 0.823); */
    background: url('assets/Fond.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    width:50%;
    height:1000px;
    display:flex;
    margin:auto;
    border-radius:15px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.to_do_elements{
    width: 70%;
    display: flex;
    align-items: center;

}

.to_doContainer{
    overflow: auto;


}


.delete_button{
    width: 70%;
    height: 70%;
}

.save_button{
    width: 10%;
    height: 10%;

}

.checkbox{
    width: 35px;
    height: 35px;
    display: flex;
}

.text_input{
    height:30px;
    width: 50%;
    background: white;
    display: flex;
}

.todo_elements{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.delete_elements{
    width: 70px;
    display: flex;
    align-items: center;
}
.textarea {
    background-color:rgba(220, 217, 217, 0.2);
    border: 2Px solid rgb(158, 211, 158);
    border-radius:5px;
    resize: none;
}
#submit {
    padding:auto;
    border-radius:10px;
    background-color:rgba(0, 0, 0, 0.481);
    border:none;
    color:white;
    width:50px;
}

.add_elements{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

hr{
    width: 80%;

}

.clean_button {
    width: 10%;
}